.about {
    height: 160vh;
    width: 100%;
    background-color: #fff8e7;
}

.abouttitle {
    padding-top: 50px;
    text-align: center;
    font-size: 250%;
    color: #003e29;
}
.about h3, h2 {
    color: #003e29;
    opacity: 0;
    animation: fadein 2s ease-in forwards;
}

.images img {
    opacity: 0;
    animation: fadein 1s linear forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.items {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}
.items img {
    background-color: white;
    border-radius: 50%;
    border: 10px solid white;
    animation: fadein 2s ease-in forwards;
}

.figs {
    margin-top: 10px;
    font-size: 50%;
    text-align: center;
    color: #003e29;
}

.boxes {
    margin-top: 15vh;
    display: grid;
    padding: 0px 36px 15% 100px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}


.collage {
    display: grid;
    margin: auto;
}

.images:first-of-type {
    grid-column: 4 / span 4;
    grid-row: 1 / span 4;
}
.images:nth-of-type(2) {
    grid-column: 6 / span 8;
    grid-row: 4 / span 8;
}
.images:last-of-type {
    grid-column: 1 / span 4;
    grid-row: 3 / span 4;
}

.blurb {
    line-height: 250%;
    font-size: 90%;
}

.Skills {
    margin-top: 5vh;
    font-size: 2.5em;
}

@media (max-width: 1071px) {
    .about {
        height: 160vh;
    }
    .boxes {
        margin-top: 25px;
        padding: 25px 100px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .img1 {
        width: 150px;
        height: 200px;
    }
    .img2 {
        width: 200px;
        height: 150px;
    }
    .img3 {
        width: 250px;
        height: 150px;
    }
    .Skills {
        top: 5vh;
        font-size: 2em;
    }
    .blurb {
        font-size: 90%;
    }
    .figs {
        font-size: .7em;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .Skills {
        margin-bottom: 25px;
    }
    .abouttitle {
        font-size: 1.5rem;
    }
    .collage {
        width: 300px;
    }
    .img1 {
        width: 75px;
        height: 100px;
    }
    .img2 {
        width: 100px;
        height: 75px;
    }
    .img3 {
        width: 125px;
        height: 75px;
    }
    .figs {
        font-size: .5em;
        text-align: center;
    }
    .items img {
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 400px) {
    .boxes {
        padding-left: 75px;
    }
    .Skills {
        margin-bottom: 25px;
    }
    .blurb h3 {
        font-size: 1em;
    }
    .abouttitle {
        font-size: 1.3rem;
    }
    .collage {
        width: 300px;
    }
    .img1 {
        width: 75px;
        height: 100px;
    }
    .img2 {
        width: 80px;
        height: 60px;
    }
    .img3 {
        width: 125px;
        height: 75px;
    }
    .figs {
        font-size: .5em;
        text-align: center;
    }
    .items img {
        width: 60px;
        height: 60px;
    }
}

