
.experience {
    margin-left: 64px;
    background-color: #003e29;
    color: #C99700;
}

.experience figcaption, p {
    color: black;
}

.title {
    padding-top: 50px;
    text-align: center;
    font-size: 250%;
    margin-bottom: 30px;
    color: rgb(222, 240, 113);
}


.entries img {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.entries .icapital {
    width: 275px;
    height: 125px;
    border-radius: 0%;
}
.tag .vertical-timeline-element-content{
    border-top: 5px solid #C99700 !important;
}
.entries .bigdata {
    width: 250px;
    height: 125px;
    border-radius: 0%;
}

.entries .tag {
    border-top: 3px solid black;
}


/*
.entries img, figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

.co {
    text-align: left;
    font-size: 150%;
}

@media screen and (max-width: 500px) {
    .yobs .individual {
        grid-template-columns: 1fr;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .timeline {
        width: 0px;
        height: 0px;
    }
}