* {
  box-sizing: border-box;
}
.intro {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  animation: moveUp 1s 4s linear forwards;
}


/*
.Animator1 {
  width: 50%;
  opacity: 0;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  animation: Display 2s 4s forwards;
  animation-delay: 4s;
  left: 64px;
}
*/
